.appSpaceMeditate {
    width: 50%;
    height: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex: 1 1 auto;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.timeClock {
    flex: 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.time {
    flex: 1 1;
}

.theme {
    flex: 1 1
}



.theme button,
.time button {
    background-color: rgba(128, 128, 128, 0.103);
    border: none;
    margin: 10% 5%;
    width: 70%;
    height: 10%;
    color: rgb(116, 116, 116);
    text-align: left;
    border-radius: 5px;
    font-size: 18px;
}

.theme button:nth-child(1) {
    background-image: url(../../images/campfire.jpg);
    background-position: center;
    background-size: 100%;
}

.theme button:nth-child(3) {
    background-image: url(../../images/forest.jpg);
    background-position: center;
    background-size: 100%;
}

.theme button:nth-child(5) {
    background-image: url(../../images/sea.jpg);
    background-position: center;
    background-size: 100%;
}

.theme button:nth-child(5):hover,
.theme button:nth-child(3):hover,
.theme button:nth-child(1):hover {
    background-position: top;
    transition: 5s;
    cursor: pointer;
}

.time button:nth-child(5):hover,
.time button:nth-child(3):hover,
.time button:nth-child(1):hover {
    cursor: pointer;
}

.timeClock .percent {
    position: relative;
    width: 150px;
    height: 150px;
}

.timeClock .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
}

.timeClock .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}


.timeClock .percent svg circle:nth-child(1) {

    stroke-dashoffset: 0;
    stroke: rgba(124, 124, 124, 0.192);
}

.timeClock .percent svg circle:nth-child(2) {
    stroke-dashoffset: calc(440 - (440 * 0) / 100);
    stroke: rgba(124, 124, 124, 0.616);
    transition: 1s;
}

.timeClock .percent .pauseRenewButton {
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.appBoxActive {
    opacity: 0.1;
}