.appSpaceWeather {
    width: 50%;
    height: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border: 1px solid rgb(116, 116, 116);
    flex-wrap: wrap;
    border-radius: 15px;
}


.weather {
    width: 90%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.material-icons-outlined {
    font-family: 'Material Icons';
}

.weatherInput {
    width: 100%;
    height: 30%;
    font-size: 1.3rem;
    color: white;
    background-color: rgba(146, 146, 146, 0.168);
    border: none;
    margin-bottom: 5%;
}


#weatherIcon {
    background-image: url('./weather/cloudy-day-1.svg');
    width: 100px;
    height: 100px;
    background-size: cover;
    display: none;
    opacity: 0.5;
}