body,
html {
    width: 100%;
    margin: 0;
    background-size: cover;
}

body {
    background-color: rgb(34, 34, 34);
    color: rgb(116, 116, 116);
    font-family: 'Open Sans';
}

#container {
    background-color: rgba(146, 146, 146, 0.168);
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 50px;
    border-radius: 5px;
    width: 227px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#container-content2,
.hidden,
#password2,
#confirm-password {
    display: none;
}

input {
    background-color: rgba(146, 146, 146, 0.168);
    border: none;
    border-radius: 5px;
    color: rgb(116, 116, 116);
    width: 100%;
    height: 25px;
    font-size: 25px;
}

button {
    background-color: rgb(116, 116, 116);
    float: right;
    border: none;
    color: white;
    width: 100%;
    height: 35px !important;
}

button:hover {
    background-color: rgb(73, 73, 73);
    box-shadow: 0px 0px 11px 0px rgb(39, 39, 39);
    color: rgb(218, 218, 218);
    cursor: pointer;
}

#login-register-switch:hover {
    cursor: pointer;
    text-decoration: underline;
}

#popup {
    background-color: rgba(109, 109, 109, 0.9);
    height: 100px;
    width: 400px;
    text-align: center;
    position: fixed;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
}


#exit-popup {
    float: right;
    margin: 0 5px;
    user-select: none;
    cursor: pointer;
}

/*.scretchAnimation {
    animation: resizePanel 1s ease-in;
    animation-fill-mode: forwards;
}

.scretch {
    height: 100%;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
}*/

#framework-info {
    margin: 15px;
    float: right;
    background: rgba(146, 146, 146, 0.168);
    padding: 20px;
    border-radius: 5px;
    color: rgb(116, 116, 116);
    text-align: center;
}

@keyframes resizePanel {
    0% {
        width: 227px;
        height: 277px;
    }

    100% {
        height: 100%;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        border-radius: 0;
    }
}

.menu-content {
    cursor: pointer;
    margin-bottom: -10px;
    font-size: 1.2em;
    display: none;
}

.title {
    font-size: 2em;
}

.menu-content,
.title {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
}

#burger-menu-button {
    position: fixed;
    width: 70px;
    height: 70px;
    background-image: url(../images/burgerMenu.png);
    background-size: cover;
    display: none;
    cursor: pointer;
    margin-left: 10px;
}